<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/Mystyle.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <link rel="stylesheet" href="/stylesheets/simple-line-icons.css">
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="/javascripts/UI.js"></script>
  </body>
</html>
