
li [class*=" icon-"], li [class^=icon-] .large{
 font-size:20px;
    top: -1px;
}

.page-sidebar .page-sidebar-menu>li>a>span[class^="myarrow"]{
    float: right;
    font-size: 10px;
    margin: 5px 1px 2px 2px;
}

#Navigation{
    margin:70px 0 0 0;
}
.hide{
    display: none;
}
#spaceHolder{
    position: absolute;
    left: 235px;
    top: 0px;
    width: 87.2vw;
    height: 100vh;
    background: white;
}
.label.edited-label {
    padding: 7px 4px 5px 4px;
}

.when-open{
    position: relative;
    left: -235px;
    top: 50px;
}
.when-closed .when-open{
    width:50px;
}

.icon-when-closed{
    margin: 0px 0px 0px -8px;
    top: 0px;
}

.when-open.page-sidebar > ul.page-sidebar-menu > li.nav-item >a >i[class^="icon-"]{
    font-size:22px;
}