._public_Components_Styles_Metronic__page_header_navbar {
  background-color: #2b3643;
  width: 100%;
  border: 0;
  padding: 0;
  height: 50px;
  min-height: 50px;
  filter: none;
  z-index: 9995;
  box-shadow: none;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__page_logo {
  float: left;
  display: block;
  width: 250px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__page_logo ._public_Components_Styles_Metronic__logo_default {
  margin: 18px 0 0;
}
._public_Components_Styles_Metronic__page_header_navbar > a {
  display: inline-block;
  float: left;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__menu_trigger {
  cursor: pointer;
  opacity: .7;
  display: block;
  filter: alpha(opacity=70);
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
  float: right;
  margin: 15.5px 0 0;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__menu_trigger:hover {
  opacity: 1;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opcaity .3s;
  filter: alpha(opacity=100);
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__menu_trigger > span {
  outline: 0 !important;
  background: #a7b5c6;
  display: inline-block;
  width: 19px;
  height: 1px;
  position: relative;
  top: -6px;
  transition: all ease .3s;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__menu_trigger > span:before,
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__menu_trigger > span:after {
  background: #a7b5c6;
  display: inline-block;
  width: 19px;
  height: 1px;
  position: relative;
  top: -6px;
  transition: all ease .3s;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__menu_trigger > span:before,
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__menu_trigger > span:after {
  position: absolute;
  left: 0;
  content: '';
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__menu_trigger > span:before {
  top: 6px;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__top_menu {
  margin: 0;
  padding: 0;
  float: right;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__top_menu ._public_Components_Styles_Metronic__navbar_nav {
  padding: 0;
  margin-right: 20px;
  display: block;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__top_menu ._public_Components_Styles_Metronic__navbar_nav > li {
  margin: 0;
  padding: 0 4px;
  height: 50px;
  display: inline-block;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__top_menu ._public_Components_Styles_Metronic__navbar_nav > li > ._public_Components_Styles_Metronic__dropdown_toggle {
  margin: 0px;
  padding: 19px 10px 10px;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__top_menu ._public_Components_Styles_Metronic__navbar_nav > li > ._public_Components_Styles_Metronic__dropdown_toggle > i {
  color: #79869a;
  font-size: 17px;
}
._public_Components_Styles_Metronic__page_header_navbar ._public_Components_Styles_Metronic__top_menu ._public_Components_Styles_Metronic__navbar_nav > li > ._public_Components_Styles_Metronic__dropdown_toggle > span {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 300;
  padding: 3px 6px;
  background: #36c6d3;
  color: #fff;
}
li[class^=icon-] {
  top: 1px;
  position: relative;
  display: inline-block;
  width: 1.25em;
  text-align: center;
  line-height: 14px;
}
